checkbutton.color check {
  min-width: 16px;
  min-height: 16px;
  border-style: solid;
}

checkbutton.color:checked check {
  border-style: dashed;
}

checkbutton._- check {
  background-color: #888;
  background-image:
          linear-gradient( 45deg, #444 25%, transparent 25%),
          linear-gradient(-45deg, #444 25%, transparent 25%),
          linear-gradient( 45deg, transparent 75%, #444 75%),
          linear-gradient(-45deg, transparent 75%, #444 75%);
  background-size: 8px 8px;
  background-position: 0 0, 0 4px, 4px -4px, -4px 0;
  border-color: #333;
}

list {
  background-color: transparent;
}